.controlbar button,  .controlbar select{
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid  var(--color-text);
    outline: none;
    margin-right: 5px;
}

.controlbar {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}