.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: var(--color-background);
}

.visited {
  animation: visitedAnimation 1.5s ease-out forwards;
}

.path {
  animation: pathAnimation 1.2s ease-out alternate-reverse infinite forwards;
}

.visitedInstant {
  background-color: #c874b2;
}

.pathInstant {
  background-color: rgba(0, 0, 66, 0.75);
}

@keyframes visitedAnimation {
  0% {
    background-color: #29B6F6
  }
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1.1;
    background-color: #3949AB;
  }
  75% {
    scale: 1;
    background-color: #512DA8
  }
  100% {
    scale: 1;
    background-color: #4527A0;
    border-color: #4527A0;;
  }
}

@keyframes pathAnimation {
  0% {
      background-color: rgba(0, 0, 66, 0.75);
  }
  15% {
    background-color: #430d4b;
  }
  35% {
    background-color: #7b337d
  }
  50% {
    background-color: rgba(0, 0, 66, 0.75);
    border-color: #7b337d;
  }
  100% {
    background-color: rgba(0, 0, 66, 0.75);
    border-color: #7b337d;
  }
}
